-a always,exit -F path=/etc/fstab -F perm=r -F key=Monitoreo-Req10-pci
-a always,exit -F path=/etc/passwd -F perm=r -F key=Monitoreo-Req10-pci
-a always,exit -F path=/etc/group -F perm=r -F key=Monitoreo-Req10-pci
-a always,exit -F path=/etc/shadow -F perm=wr -F key=Monitoreo-Req10-pci
-a always,exit -F path=/etc/ssh/sshd_config -F perm=wr -F key=Monitoreo-Req10-pci
-a always,exit -F path=/etc/rsyslog.conf -F perm=r -F key=Monitoreo-Req10-pci
-a always,exit -F path=/etc/login.defs -F perm=wr -F key=Monitoreo-Req10-pci
-a always,exit -F path=/etc/pam.d/system-auth -F perm=wr -F key=Monitoreo-Req10-pci
-a always,exit -F path=/etc/hosts.allow -F perm=r -F key=Monitoreo-Req10-pci
-a always,exit -F path=/etc/hosts.deny -F perm=r -F key=Monitoreo-Req10-pci
-a always,exit -F path=/etc/sudoers -F perm=wr -F key=Monitoreo-Req10-pci
-a always,exit -F dir=/etc/sudoers.d/ -F perm=wr -F key=Monitoreo-Req10-pci
-a always,exit -F path=/etc/hosts -F perm=r -F key=Monitoreo-Req10-pci
-a always,exit -F path=/etc/hostname -F perm=r -F key=Monitoreo-Req10-pci
-a always,exit -F path=/etc/bashrc -F perm=r -F key=Monitoreo-Req10-pci
-a always,exit -F path=/etc/crontab -F perm=r -F key=Monitoreo-Req10-pci
-a always,exit -F path=/etc/sysctl.conf -F perm=r -F key=Monitoreo-Req10-pci
-a always,exit -F path=/etc/selinux/config -F perm=r -F key=Monitoreo-Req10-pci
-a always,exit -F path=/etc/resolv.conf -F perm=r -F key=Monitoreo-Req10-pci
-a always,exit -F path=/etc/grub2.cfg -F perm=r -F key=Monitoreo-Req10-pci
-a always,exit -F path=/etc/grub.cfg -F perm=r -F key=Monitoreo-Req10-pci
-a always,exit -F path=/etc/default/grub -F perm=r -F key=Monitoreo-Req10-pci
-a always,exit -F path=/etc/gshadow -F perm=wr -F key=Monitoreo-Req10-pci

-a always,exit -F dir=/var/log/audit -F perm=war -F key=10.2.3-access-audit-trail
-a always,exit -F path=/usr/sbin/ausearch -F perm=x -F key=10.2.3-access-audit-trail
-a always,exit -F path=/usr/sbin/aureport -F perm=x -F key=10.2.3-access-audit-trail
-a always,exit -F path=/usr/sbin/aulast -F perm=x -F key=10.2.3-access-audit-trail
-a always,exit -F path=/usr/sbin/aulastlogin -F perm=x -F key=10.2.3-access-audit-trail
-a always,exit -F path=/usr/sbin/auvirt -F perm=x -F key=10.2.3-access-audit-trail
